<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Ecommerce BOT</title>
</head>

<body>
    <div class="shoppingCart">
        <img id="viewShopping" src="../static/img/shopping_cart.png" />
    </div>

    <div id="modal-container">
        <div id="shopping-popup">
            <div class="two-elements">
                <h1>Shopping</h1>
                <p id="closeModal">Close</p>
            </div>
            <div class="shopping-container"></div>
        </div>
    </div>

    <!-- SETTING AND DISPLAYING ALL THE AVAILABLE PRODUCTS -->
    <div class="products-container" style="width: auto;">
    {% for product in products %}
        {% if product.stock > 0 %}

        <div class="product-container">
            <div class="product">
                <h3>{{ product.name }}</h3>
                <img style="width: 100%;" src="{{ product.img }}" />
            </div>
            <button class="addBtn addProduct{{ product.id }}">ADD</button>
        </div>
    
        {% endif %}
    {% endfor %}
    </div>

</body>

<script>
    const setViewShoppingMobile = () => {
        const viewShopping = document.querySelector("#viewShopping")
        viewShopping.addEventListener('touchstart', e => {
            e.preventDefault()
    
            const modalStyle = document.getElementById("modal-container").style
            modalStyle.removeProperty('display')
            modalStyle.setProperty('display', 'flex')
        })
    } 
    
    const setViewShopping = () => {
        const viewShopping = document.querySelector("#viewShopping")
        viewShopping.addEventListener('click', e => {
            e.preventDefault()
    
            const modalStyle = document.getElementById("modal-container").style
            modalStyle.removeProperty('display')
            modalStyle.setProperty('display', 'flex')
        })
    }
    
    const setCloseBtn = () => {
        const createBtn = document.querySelector("#closeModal")
        createBtn.addEventListener('click', e => {
            e.preventDefault()
    
            const modalStyle = document.getElementById("modal-container").style
            modalStyle.removeProperty('display')
            modalStyle.setProperty('display', 'none')
        })
    }
    
    document.addEventListener('DOMContentLoaded', () => {
        setViewShoppingMobile()
        setViewShopping()
        setCloseBtn()

        {% for product in products %}
        {% if product.stock > 0 %}

            const event{{ product.id }} = e => {
                e.preventDefault()

                addProduct{{ product.id }}.classList.remove("addBtn")
                addProduct{{ product.id }}.textContent = "REMOVE"
                addProduct{{ product.id }}.classList.add("notAddBtn")

                productObject{{ product.id }} = {
                    id: {{ product.id }},
                    name: "{{ product.name }}",
                    price: {{ product.price }},
                    img: "{{ product.img }}",
                    stock: {{ product.stock }},
                    amount: 1,
                    html: `<div class="shopping-product product{{ product.id }}">
                        <img class="shopping-product-img" src={{ product.img }} />
                        <h2>{{ product.name }}</h2>
                        <div class="price-container">
                            <p>$ {{ product.price }}</p>
                            <input class="input__amount" id="amount{{ product.id }}" type="number" min="1" max="{{ product.stock }}" value="1"/>
                        </div>
                    </div>`,
                }
                
                ordered.orderList.push(productObject{{ product.id }})
                orderedLength++

                addProduct{{ product.id }}.removeEventListener('click', event{{ product.id }})
            }

            const addProduct{{ product.id }} = document.querySelector(".addProduct{{ product.id }}")
            addProduct{{ product.id }}.addEventListener('click', event{{ product.id }})

        {% endif %}
        {% endfor %}

        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop)
        });
        let chat_id = params.chat_id
        let username = params.username
    
        let ordered = Alpine.reactive({ orderList: [] })
        let orderedLength = -1
        const shoppingContainer = document.querySelector(".shopping-container")

        Alpine.effect(() => {
            if (ordered.orderList.length > 0){
                shoppingContainer.innerHTML += ordered.orderList[orderedLength].html
            }
        })
        
        Telegram.WebApp.ready();
        const webapp = Telegram.WebApp.MainButton.setText('ORDER').show()
        webapp.onClick(function () {
            for(let i = 0; i<ordered.orderList.length; i++){
                ordered.orderList[i].amount = parseInt(document.getElementById('amount'+ordered.orderList[i].id).value)
            }
            const data = JSON.stringify({order: ordered.orderList});
            Telegram.WebApp.sendData(data);
            Telegram.WebApp.close();
        });
        Telegram.WebApp.expand();
    })
</script>

</html>