<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Ecommerce BOT</title>
</head>

<body>
    <button id="viewShopping">View Shopping</button>

    <div id="modal-container">
        <div id="shopping-popup">
            <div class="two-elements">
                <h1>Shopping</h1>
                <p id="closeModal">Close</p>
            </div>
        </div>
    </div>

    <!-- SETTING AND DISPLAYING ALL THE AVAILABLE PRODUCTS -->
    <div class="products-container" style="width: auto;">
    {% for product in products %}
        {% if product.stock > 0 %}

        <div class="product-container">
            <div class="product">
                <h3>{{ product.name }}</h3>
                <img style="width: 100%;" src="{{ product.img }}" />
            </div>
            <button class="addBtn addProduct{{ product.id }}">ADD</button>
        </div>
    
        {% endif %}
    {% endfor %}
    </div>

</body>

<script>
    const setViewShoppingMobile = () => {
        const viewShopping = document.querySelector("#viewShopping")
        viewShopping.addEventListener('touchstart', e => {
            e.preventDefault()
    
            const modalStyle = document.getElementById("modal-container").style
            modalStyle.removeProperty('display')
            modalStyle.setProperty('display', 'flex')
        })
    } 
    
    const setViewShopping = () => {
        const viewShopping = document.querySelector("#viewShopping")
        viewShopping.addEventListener('click', e => {
            e.preventDefault()
    
            const modalStyle = document.getElementById("modal-container").style
            modalStyle.removeProperty('display')
            modalStyle.setProperty('display', 'flex')
        })
    }
    
    const setCloseBtn = () => {
        const createBtn = document.querySelector("#closeModal")
        createBtn.addEventListener('click', e => {
            e.preventDefault()
    
            const modalStyle = document.getElementById("modal-container").style
            modalStyle.removeProperty('display')
            modalStyle.setProperty('display', 'none')
        })
    }
    
    document.addEventListener('DOMContentLoaded', () => {
        setViewShoppingMobile()
        setViewShopping()
        setCloseBtn()

        {% for product in products %}
        {% if product.stock > 0 %}

            const event{{ product.id }} = e => {
                e.preventDefault()

                addProduct{{ product.id }}.classList.remove("addBtn")
                addProduct{{ product.id }}.textContent = "ADDED"
                addProduct{{ product.id }}.classList.add("notAddBtn")
                
                ordered.orderList.push({{ product.id }})
                addProduct{{ product.id }}.removeEventListener('click', event{{ product.id }})
            }

            const addProduct{{ product.id }} = document.querySelector(".addProduct{{ product.id }}")
            addProduct{{ product.id }}.addEventListener('click', event{{ product.id }})

        {% endif %}
        {% endfor %}

        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop)
        });
        let chat_id = params.chat_id
        let username = params.username
    
        let ordered = Alpine.reactive({ orderList: [] })
        
        Telegram.WebApp.ready();
        Telegram.WebApp.MainButton.setText('ORDER').show().onClick(function () {
            const data = JSON.stringify({order: ordered.orderList});
            Telegram.WebApp.sendData(data);
            Telegram.WebApp.close();
        });
        Telegram.WebApp.expand();
    })
</script>

</html>